<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Подключение к базе -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:h_allmarks.db</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Диалект SQLite -->
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <!-- Логи -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Создание таблиц -->
<!--        Создаёт таблицу заново, удаляя старую-->
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->
        <!-- Пытается подгрузить существующую таблицу строчку ниже раскоментировать, сверху - закоментировать-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.autocommit">true</property>

    </session-factory>
</hibernate-configuration>
